.upload {
	display: flex;
	justify-content: center;
	/* Вирівнювання по центру по горизонталі */
	align-items: center;
	/* Вирівнювання по центру по вертикалі */
	margin-bottom: 20px;
	width: 100%;
}

.upload-button {
	display: block;
	/* Змінюємо тип відображення */
	margin-left: 5%;
	/* Вирівнювання по центру */
}