.about-container {
	padding: 40px;
	background-color: #f4f4f9;
}

.story,
.pricing {
	flex: 1;
	margin: 0 20px;
}

.story h2,
.pricing h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.story p,
.pricing p {
	margin-bottom: 20px;
}

.pricing-items {
	display: flex;
	justify-content: space-between;
}

.pricing-card {
	width: 30%;
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 700px;
	
	margin: 0 auto;
	position: relative;
}

.pricing-card h3 {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	
}

.pricing-card ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
	text-align: left;
}

.pricing-card ul li {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}

.pricing-card ul li:before {
	content: '✔️';
	margin-right: 10px;
	color: green;
}

.price {
	font-size: 24px;
	font-weight: bold;
	position: absolute;
	top: 20px;
	right: 20px;
	color: #0056b3;
}

.story {
	width: 50%;
	margin-top: 50px;
	text-align: justify;
}

.button-wrapper {
	margin-top: 40px;
}

.payment {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #f2f2f7;
	border: 2px solid gray;
	padding: 40px;
	border-radius: 8px;
	z-index: 10;
}

.payment-close {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
}

.payment form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.payment form label{
	margin-top: 10px;
}
.payment form input{
	border: none;
	border-bottom: 1px solid gray;
	margin-top: 10px;
	padding: 10px;
	width: 300px;
	font-size: 16px;
}

